# Group 12 Exploratory Analysis

In [4]:
# Imports
import pandas as pd
import numpy as np
import os

In [29]:
file_path='../data/01_raw/Data Model - Pizza Sales.xlsx'
df = pd.read_excel(file_path, parse_dates=[['order_date', 'order_time']]).rename(columns={'order_date_order_time': 'order_datetime'})

/tmp/ipykernel_61383/2786653097.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df = pd.read_excel(file_path, parse_dates=[['order_date', 'order_time']]).rename(columns={'order_date_order_time': 'order_datetime'})

In [30]:
df.head()

,order_datetime,order_details_id,order_id,pizza_id,quantity,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name
0,2015-01-01 11:38:36,1,1,hawaiian_m,1,13.25,13.25,M,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",The Hawaiian Pizza
1,2015-01-01 11:57:40,2,2,classic_dlx_m,1,16.00,16.00,M,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,...",The Classic Deluxe Pizza
2,2015-01-01 11:57:40,3,2,five_cheese_l,1,18.50,18.50,L,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",The Five Cheese Pizza
3,2015-01-01 11:57:40,4,2,ital_supr_l,1,20.75,20.75,L,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza
4,2015-01-01 11:57:40,5,2,mexicana_m,1,16.00,16.00,M,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza

In [31]:
df.dtypes

order_datetime       datetime64[ns]
order_details_id              int64
order_id                      int64
pizza_id                     object
quantity                      int64
unit_price                  float64
total_price                 float64
pizza_size                   object
pizza_category               object
pizza_ingredients            object
pizza_name                   object
dtype: object